.main {
  max-width: 1280px;
  min-height: calc(100vh - 70px - 106px);
  margin: 0 auto;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 1.5rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
